@model IEnumerable<SendGen.Domain.SendGenDomains.Data.Cliente>

@{
	ViewData["Title"] = "Clientes";
}

<button type="button" class="btn btn-primary" id="enviarParaTodosSelecionados" onclick="enviarParaTodosSelecionados_Click()">Enviar para Todos Selecionados</button>

<p class="mt-2 text-end">
	<a asp-action="Create" class="btn btn-roxinho">Novo</a>
</p>

<form method="get" id="formPesquisar">

	<label>Mostrar somente com telefone cadastrado?</label>
	<input type="checkbox" name="somenteComTelefone" onchange="formPesquisar.submit()" value="true" @((bool)ViewBag.SomenteComTelefone ? "checked" : "") />

</form>
<table class="table table-hover table-bordered">
	<thead>
		<tr>
			<th>

			</th>
			<th>
				@Html.DisplayNameFor(model => model.Nome)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Celular)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DataNascimento)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TraCod)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@if (!string.IsNullOrEmpty(item.Celular.Trim()))
					{
						<input type="checkbox" name="clienteid" value="@item.ClienteId" />
					}
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Nome)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Celular)
				</td>
				<td>
					@(item.DataNascimento?.ToString("dd/MM/yyyy"))
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TraCod)
				</td>
				<td class="text-center">
					<a class="btn btn-light" asp-action="Edit" asp-route-id="@item.ClienteId">Editar</a> |
					<a class="btn btn-light" asp-action="Details" asp-route-id="@item.ClienteId">Visualizar</a> |
					<a class="btn btn-light" asp-action="Delete" asp-route-id="@item.ClienteId">Apagar</a>
				</td>
			</tr>
		}
	</tbody>
</table>
<script src="~/pages/clientes/index.js"></script>