@model IEnumerable<SendGen.Domain.SendGenDomains.Data.Cliente>

@{
	ViewData["Title"] = "Criar Filtro";
}

<div class="container">
	<form method="get" id="formPesquisar">
		<div class="form-row">
			<input type="hidden" id="enviado" name="enviado" value="true" />
			<div class="col-md-4 mb-3">
				<label for="SearchString">Filtro:</label>
			</div>
			<div class="col-md-4 mb-3">
				@Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Digite para salvar um novo filtro", required = true })
			</div>
			<div class="col-md-4 mb-3">
				<button type="submit" value="true" onclick="formPesquisar.submit()" class="btn btn-success" ) />Salvar</button>
			</div>
		</div>
	</form>
</div>

@if (ViewBag.Salvo == true)
{
	<p>Filtro salvo com sucesso!</p>
}

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Nome)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ClienteId)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Nome)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ClienteId)
				</td>
			</tr>
		}
	</tbody>
</table>

