@model SendGen.Web.Models.FiltroAgendamentoView

@{
	ViewData["Title"] = "Agendamentos";
}

<h4>Criar novo agendamento</h4>

@using (Html.BeginForm("SalvarAgendamento", "Agendamento", FormMethod.Post))
{
    <div class="form-group p-2">
        <label for="filtroID" class="control-label">ID do Filtro: </label>
        <input type="number" id="filtroID" name="filtroID" class="form-control" />
    </div>

    <div class="form-group p-2">
        <label for="templateID" class="control-label">ID do Template: </label>
        <input type="text" id="templateID" name="templateID" class="form-control" />
    </div>

    <div class="form-group p-2">
        <label for="canalID" class="control-label">ID do Canal: </label>
        <input type="text" id="canalID" name="canalID" class="form-control" />
    </div>

    <div class="form-group p-2">
        <label for="intervaloExecucao" class="control-label">Intervalo de Execução: </label>
        <input type="number" id="intervaloExecucao" name="intervaloExecucao" class="form-control" />
    </div>

    <div class="form-group p-2">
        <label for="tipo" class="control-label">Tipo: </label>
        <select name="tipo" class="form-select">
            <option value=""></option>
            <option>Recado</option>
            <option>Aniversário</option>
        </select>
    </div>

    <div class="p-2">
        <button type="submit" class="btn btn-success">Enviar</button>
    </div>
}

<h4>Iniciar Verificações</h4>

<div class="p-2">
    @using (Html.BeginForm("IniciarVerificacao", "Agendamento", FormMethod.Post))
    {
        <button type="submit" class="btn btn-success">Iniciar Verificação</button>
    }
</div>

<h4>Agendamentos Salvos</h4>

<table class="table p-2">
    <thead>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Agendamentos[0].ID)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Agendamentos[0].Tipo)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Filtros[0].Condicao)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Agendamentos[0].IntervaloExecucao)
            </td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Agendamentos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @if (Model.Filtros.Any(f => f.ID == item.FiltroID))
                    {
                        @Html.DisplayFor(modelItem => Model.Filtros.FirstOrDefault(f => f.ID == item.FiltroID).Condicao)
                    }
                    else
                    {
                        <text>Informação de filtro não encontrada</text>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IntervaloExecucao)
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

<h4>Filtros</h4>

<table class="table p-2">
    <thead>        
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Filtros[0].ID)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Filtros[0].Condicao)
            </td>
            <td></td>
        </tr>
        </div>
    </thead>
    <tbody>
        @foreach (var item in Model.Filtros)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Condicao)
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

<h4>Templates</h4>

<table class="table p-2">
    <thead>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Templates[0]._id)
            </td>
            <td>
                    @Html.DisplayNameFor(model => model.Templates[0].texto)
            </td>
            <td>
                    @Html.DisplayNameFor(model => model.Templates[0].atalho)
            </td>
            <td>
                    @Html.DisplayNameFor(model => model.Templates[0].tipo_mensagem)
            </td>
            <td>
                    @Html.DisplayNameFor(model => model.Templates[0].departamentos)
            </td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Templates)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item._id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.texto)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.atalho)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.tipo_mensagem)
                </td>
                <td>
                        @foreach (var departamento in item.departamentos)
                        {
                            <span>@departamento</span> 
                        }
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
 
<h4>Canal de Comunicação</h4>

<table class="table p-2">
    <thead>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Canais[0]._id)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Canais[0].nome)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Canais[0].id_atendente)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Canais[0].status)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Canais[0].canal)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Canais[0].integracao)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Canais[0].prioridadeListagemAtendimentos)
        </td>
        <td></td>
    </tr>
    </thead>
	<tbody>

        @foreach (var item in Model.Canais)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item._id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_atendente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.canal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.integracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prioridadeListagemAtendimentos)
            </td>
            <td></td>
        </tr>
        }
            		
	</tbody>
</table>