@model SendGen.Domain.OpaSuiteDomains.templateGetFilter

@using (Html.BeginForm("templateGet", "Template", FormMethod.Post))
{
    <div>
        @Html.LabelFor(filtroTemplateForm => filtroTemplateForm.filter.atalho)
        @Html.TextBoxFor(filtroTemplateForm => filtroTemplateForm.filter.atalho)
    </div>
    <div>
        @Html.LabelFor(filtroTemplateForm => filtroTemplateForm.filter.tipo_mensagem)
        @Html.TextBoxFor(filtroTemplateForm => filtroTemplateForm.filter.tipo_mensagem)
    </div>
     <div>
        @Html.LabelFor(filtroTemplateForm => filtroTemplateForm.options.skip)
        @Html.TextBoxFor(filtroTemplateForm => filtroTemplateForm.options.skip)
    </div>
    <div>
        @Html.LabelFor(filtroTemplateForm => filtroTemplateForm.options.limit)
        @Html.TextBoxFor(filtroTemplateForm => filtroTemplateForm.options.limit)
    </div>

    <input type="submit" value="Enviar" />
}